body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: $primary-color;
  font-weight: bold;
}

p {
  font-size: 1.25em;
  line-height: 1.7em;
}

ul {
  margin-left: 2em;
}

.front h1 {
  font-size: 2em;
  margin: 0;
  display: block;
}
