<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Foundation | Welcome</title>

  <%= stylesheet_link_tag 'style' %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300%7C">
  <%= javascript_include_tag 'all' %>

</head>

<body class="front">
  <div class="row">
    <div class="top-bar" id="main-menu">
      <h1 class="small-12 medium-3 columns">Vale Karate</h1>
      <ul class="dropdown menu float-right hide-for-small-only" data-dropdown-menu>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="index.html">About Us</a></li>
        <li class="dropdown"><a href="#" data-toggle="dropdown">Classes</a>
          <ul class="menu vertical">
            <li><a href="#">Adults</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Tigers (3 to 6)</a></li>
            <li><a href="#">Courses</a></li>
          </ul>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Instructors<i class="fa fa-angle-down"></i></a>
            <ul class="menu vertical">
              <li><a href="#">Robert Copeland</a></li>
              <li><a href="#">All Instructors</a></li>
            </ul>
          </li>
          <li><a href="news.html">News</a></li>
      </ul>
    </div>
  </div>

  <div class="orbit hide-for-small-only" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="true">
    <ul class="orbit-container">
      <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
      <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
      <li class="is-active orbit-slide">
        <img src="images/rotations/karate_everyone.png" alt="Karate for Everyone">
        <div class="orbit-caption">
          <h3>Karate for Everyone</h3>
          <h4><a href="#">Find a class for you today!</a></h4>
        </div>
      </li>
      <li class="orbit-slide">
        <img src="images/rotations/vale_tigers.png" alt="Vale Karate Tigers">
        <div class="orbit-caption">
          <h3>Vale Karate Tigers</h3>
          <h4><a href="#">Karate for 4 to 6 year olds</a></h4>
        </div>
      </li>
      <li class="orbit-slide">
        <img src="images/rotations/vale_kids.png" alt="Vale Karate Kids">
        <div class="orbit-caption">
          <h3>Karate for Children</h3>
          <h4><a href="#">Karate from 7 years and up!</a></h4>
        </div>
      </li>
    </ul>
    <nav class="orbit-bullets">
     <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
     <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
     <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
   </nav>
  </div>

  <div class="row">
    <div class="medium-7 small-12 columns">
      <div class="blog-post">
        <h3>A news story</h3>
        <img class="thumbnail" src="http://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <p><a href="#">Read more</a></p>
        </div>
      </div>
    <aside class="medium-4 offset-1 small-12 columns">
      <div class="timetable">
        <h3>Today's Classes</h3>
        <ul>
          <li class="everyone"><a href="#">Development Karate @ 6pm</a></li>
          <li class="childrens"><a href="#">Childrens Fighting Fit @ 7pm</a></li>
          <li class="adults"><a href="#">Adult Fight Club @ 8pm</a></li>
        </ul>
      </div>
      <div>
        <h3>Other Sidebar stuff</h3>
      </div>
    </aside>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js" type="text/javascript"></script>
  <script type="text/javascript">
    //<![CDATA[
          $(document).foundation();
      //]]>
  </script>
  <script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
</html>
