<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Vale Karate | Welcome</title>

  <%= stylesheet_link_tag 'style' %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300%7C">
  <%= javascript_include_tag 'all' %>

</head>

<body class="front">
