<div class="row">
  <div class="top-bar" id="main-menu">
    <h1 class="small-12 medium-3 columns">Vale Karate</h1>
    <ul class="dropdown menu float-right hide-for-small-only" data-dropdown-menu>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About Us</a></li>
      <li><a href="/classes.html">Classes</a>
      <li><a href="/news.html">News</a></li>
    </ul>
  </div>
</div>
