<div class="orbit hide-for-small-only" role="region" aria-label="Karate Orbit" data-orbit data-use-m-u-i="true">
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
    <li class="is-active orbit-slide">
      <img src="images/rotations/karate_everyone.png" alt="Karate for Everyone">
      <div class="orbit-caption">
        <h3>Karate for Everyone</h3>
        <h4><a href="#">Find a class for you today!</a></h4>
      </div>
    </li>
    <li class="orbit-slide">
      <img src="images/rotations/vale_tigers.png" alt="Vale Karate Tigers">
      <div class="orbit-caption">
        <h3>Vale Karate Tigers</h3>
        <h4><a href="#">Karate for 4 to 6 year olds</a></h4>
      </div>
    </li>
    <li class="orbit-slide">
      <img src="images/rotations/vale_kids.png" alt="Vale Karate Kids">
      <div class="orbit-caption">
        <h3>Karate for Children</h3>
        <h4><a href="#">Karate from 7 years and up!</a></h4>
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
   <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
   <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
   <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
 </nav>
</div>
