<%= partial "partials/orbit" %>

<div class="row">
  <div class="medium-7 small-12 columns">
    <div class="blog-post">
      <h3>A news story</h3>
      <img class="thumbnail" src="http://placehold.it/850x350">
      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
      <p><a href="#">Read more</a></p>
      </div>
    </div>
  <aside class="medium-4 offset-1 small-12 columns">
    <div class="timetable">
      <h3>Today's Classes</h3>
      <ul>
        <li class="everyone"><a href="#">Development Karate @ 6pm</a></li>
        <li class="childrens"><a href="#">Childrens Fighting Fit @ 7pm</a></li>
        <li class="adults"><a href="#">Adult Fight Club @ 8pm</a></li>
      </ul>
    </div>
    <div>
      <h3>Other Sidebar stuff</h3>
    </div>
  </aside>
</div>
